@model IEnumerable<TMD.Web.Models.NoteModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <header>
        <h3 class="page-title">
            @ViewBag.Title
        </h3>
    </header>
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet-title">
                <div class="tools">
                    <input type="button" class="btn blue titleButton" id="btnResetFltr" style="float:right" value="Reset">
                    <input type="button" class="btn green" id="btnFltr" style="float:right" value="Filter" />
                    <a href="~/Notes/Create" class="btn red titleButton">Add New Note</a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-actions">
                    <div>
                        <table class="responsive">
                            <tr>
                                <td class="col-md-1">
                                    <label class="control-label"> Search </label>
                                </td>
                                <td class="col-md-3">
                                    <div class="input-icon">
                                        <i class="fa fa-search"></i>
                                        @Html.TextBox("Search", "", new { @class = "searchInputs form-control listFilter", @id = "txtSearch", @placeholder = "Amount, Date or Description" })
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <table id="dataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="tableHeaderWhite">Notes Date</th>
                                <th class="tableHeaderWhite">Amount</th>
                                <th class="tableHeaderWhite">Description</th>
                                <th class="tableHeaderWhite">IsOpen</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@item.NotesDate.ToString(), "Create", new { id = item.Id }) </td>
                                    <td>@item.Amount</td>
                                    <td>@item.Description</td>
                                    <td>@item.IsOpen</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    jQuery(document).on('keyup', '.listFilter', function (ev) {
        if (ev.which === 13) {
            $('#btnFltr').click();
            // Avoid form submit
            return false;
        }
    });
    $(document).ready(function () {
        var oTable = $('#dataTable').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            "bFilter": true,
            "bLengthChange": false,
        });

        $('#btnFltr').on('click', function (e) {
            var searchN = $('#txtSearch').val();
            oTable.fnFilter(searchN);
        });
        $('#btnResetFltr').on('click', function (e) {
            $('#txtSearch').val('');
            oTable.fnFilter('');
        });
    });
</script>
<style type="text/css">
    .dataTables_filter {
        display: none !important;
    }
</style>

