@using iTextSharp.text.pdf
@model TMD.Web.Models.OrderModel
@{
    ViewBag.Title = "Create/Update Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 20;
}


@using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                <button type="submit" class="btn btn-circle blue">Save</button>
                <a href="~/Order/Index">
                    <button type="button" class="btn btn-circle default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Create/Update Order
            </div>
        </div>

        <div class="portlet-body form">
            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.OrderId)
                @Html.HiddenFor(m => m.RecCreatedBy)
                @Html.HiddenFor(m => m.RecCreatedDate)
                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.AllowedMaxDiscount)
                

                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="portlet red-sunglo box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Order Items
                                </div>

                            </div>

                            <div class="portlet-body" id="OrderItemAddInfo">

                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Code
                                    </div>
                                    <div class="col-md-2 value">
                                   
                                        <input type="text" value="" class="form-control mandatoryItem" autofocus="autofocus" id="ItemCode" onchange="LoadProductByProductCode(this)" />
                                   
                                        <input type="hidden" value="" id="ItemId"/>
                                    </div>
                                    <div class="col-md-5 value">

                                        <input type="text" value="" class="form-control mandatoryItem" id="ItemName" disabled="disabled"/>

                                 
                                    </div>
                                    <div class="col-md-1 name">
                                        Price
                                    </div>
                                    <div class="col-md-2 value">
                                        <input tabindex="-1" type="text" value="" readonly="readonly" class="form-control mandatoryItem" id="SalePrice" />
                                    </div>
                                </div>

                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Quantity
                                    </div>
                                    <div class="col-md-4 value">
                                        <input tabindex="-1" type="text" value="1" class="form-control calcPrice" id="ItemQty" />
                                    </div>
                                    <div class="col-md-2 name">
                                        Total
                                    </div>
                                    <div class="col-md-2 value">
                                        <input tabindex="-1" type="text" value="" readonly="readonly" class="form-control mandatoryItem" id="TotalPrice" />
                                    </div>
                                    <div class="col-md-2 value">
                                        <label tabindex="-1" title="Items in Stock"  style="font-style: italic" class="form-control" id="itemInStock"></label>
                                    </div>

                                </div>


                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Disc %
                                    </div>
                                    <div class="col-md-4 value">
                                        <input tabindex="-1" type="text" value="0" class="form-control calcDisc" id="ItemDiscPerc" />
                                    </div>
                                    <div class="col-md-2 name">
                                        Disc Rs
                                    </div>
                                    <div class="col-md-4 value">
                                        <input tabindex="-1" type="text" value="0" class="form-control calcDisc" id="ItemDiscPrice" />
                                    </div>
                                </div>
                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Grand TOTAL
                                    </div>
                                    <div class="col-md-7 value">
                                        <input type="text" tabindex="-1" readonly="readonly" value="" class="form-control mandatoryItem" id="GrandTotal" />
                                    </div>

                                    <div class="col-md-2 value">
                                        <button type="button" class="btn btn-circle red" id="addItem">Add Item</button>
                                    </div>
                                    
                                 
                                </div>




                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="portlet green-meadow box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Customer
                                </div>

                            </div>

                            <div class="portlet-body">

                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Phone
                                    </div>
                                    <div class="col-md-4 value">
                                        @Html.TextBoxFor(m => m.Customer.Phone, new { @class = "form-control", @height = "24px", @placeholder = "Enter Phone Number" })
                                        @*@Model.ToyGraderItemId*@
                                    </div>
                                    <div class="col-md-2 name">
                                        Name
                                    </div>
                                    <div class="col-md-4 value">
                                        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", @height = "24px", @placeholder = "Enter Phone Number" })
                                    </div>

                                </div>

                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Email
                                    </div>
                                    <div class="col-md-4 value">
                                        @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control", @height = "24px", @placeholder = "Enter Email" })
                                        @*@Model.ToyGraderItemId*@
                                    </div>
                                    <div class="col-md-2 name">
                                        Address
                                    </div>
                                    <div class="col-md-4 value">
                                        @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control", @height = "24px", @placeholder = "Enter Address" })
                                    </div>

                                </div>

                                <div class="row static-info">
                                    <div class="col-md-4 name">
                                        <a href="#" target="_blank" class="">View Customers</a>
                                    </div>


                                </div>







                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="portlet purple-plum box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Order Details
                                </div>

                            </div>
                            <input type="hidden" id="TotalCount" value="@Model.OrderItems.Count" />
                            <div class="portlet-body">
                                <div class="table-scrollable">
                                    <table id="tblItemDetails" class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th style='display:none'>

                                                </th>

                                                <th>
                                                    Code
                                                </th>
                                                <th class="hidden-xs">
                                                    Name
                                                </th>
                                                <th>
                                                    Price
                                                </th>

                                                <th>
                                                    Quantity
                                                </th>
                                                <th>
                                                    Sub Total
                                                </th>
                                                

                                                <th>
                                                    Disc Amount
                                                </th>
                                                <th>
                                                    Total
                                                </th>

                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.OrderItems.Count; i++)
                                            {
                                              
                                                
                                                
                                                <tr data-id="@i">
                                                    @Html.HiddenFor(model => model.OrderItems[i].OrderItemId )
                                                    <td style='display:none'>
                                                        <input name='OrderItems.Index' type='hidden' value='@i' />
                                                        @Html.HiddenFor(model => model.OrderItems[i].OrderItemId)
                                                    </td>
                                                    <td class="highlight">
                                                        @Html.TextBoxFor(model => model.OrderItems[i].ProductId, new { @readOnly = "readOnly", @class = "TableTextBox"})
                                                    </td>
                                                    <td class="hidden-xs">
                                                        @Html.DisplayFor(model => model.OrderItems[i].Product.Name)
                                                    </td>

                                                    <td class="highlight">
                                                        @Html.TextBoxFor(model => model.OrderItems[i].Product.SalePrice, new { @readOnly = "readOnly", @class = "TableTextBox" })
                                                        
                                                    </td>
                                                    <td>

                                                        @Html.TextBoxFor(model => model.OrderItems[i].Quantity, new { @class = "TableTextBox GridValueChange" })
                                                    </td>
                                                    <td>

                                                        @Html.TextBoxFor(model => model.OrderItems[i].Subtotal, new { @readOnly = "readOnly", @class = "TableTextBox" })
                                                    </td>
                                                    <td>

                                                        @Html.TextBoxFor(model => model.OrderItems[i].Discount, new { @class = "TableTextBox GridValueChange" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(model => model.OrderItems[i].TotalItemAmount, new { @readOnly = "readOnly", @class = "TableTextBox" })
                                                    </td>
                                                  

                                                    <td>
                                                        @Html.HiddenFor(model=>model.OrderItems[i].IsModified)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="portlet blue-steel box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>Pricing
                                </div>

                            </div>

                            <div class="portlet-body">

                                <div class="row static-info">
                                    <div class="col-sm-2 name">
                                        Sub Total
                                    </div>
                                    <div class="col-sm-4 value">
                                        <input readonly="readonly" class="form-control" disabled="disabled" type="text" id="OrderSubTotal" />
                                        @*@Model.ToyGraderItemId*@
                                    </div>
                                    <div class="col-sm-2 name">
                                        Discount Rs
                                    </div>
                                    <div class="col-sm-4 value">
                                        <input readonly="readonly" class="form-control" disabled="disabled" type="text" id="OrderTotalDisc" />
                                    </div>

                                </div>

                                <div class="row static-info">
                                    <div class="col-md-2 name">
                                        Items Qty
                                    </div>
                                    <div class="col-md-4 value">
                                        <input readonly="readonly" style="color:red" disabled="disabled" type="text" class="form-control" id="OrderItemsQty" />
                                    </div>
                                    <div class="col-md-2 name">
                                        NET RS.
                                    </div>
                                    <div class="col-md-4 value">
                                        <input readonly="readonly" style="color:red" disabled="disabled" type="text" class="form-control" id="OrderNetTotal" />
                                    </div>
                                   


                                </div>


                                <div class="row static-info">

                                    <div class="col-md-2 name">
                                        Amount Given
                                    </div>
                                    <div class="col-md-4 value">
                                        <input type="text" class="form-control" id="OrderAmountGiven" onchange="CalculateReturnAmount(this)" />
                                    </div>

                                    <div class="col-md-2 name">
                                        Return
                                    </div>
                                    <div class="col-md-4 value">
                                        <input readonly="readonly" disabled="disabled" type="text" class="form-control" id="OrderAmountReturn" />
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <script>
            $(document).ajaxStop($.unblockUI);
            $(function () {

                CalculateOrderTotals();
            });

            //$(document).ready(function () {
            //    $(window).keydown(function (event) {
            //        if (event.keyCode == 13) {
            //            event.preventDefault();
            //            return false;
            //        }
            //    });
            //});
        
            $('#addItem').on("click", function (event) {

                var index = $('#TotalCount').val();
                //var index = $("#tblItemDetails").children("tbody").children("tr").length;
                var obj = new Object();
                if (ValidateItemAdd(obj)) {
                    var html = '<tr data-id="'+index+'">' +
                    '<td style="display:none"><input name="OrderItems.Index" type="hidden" value="' + index + '"/>' +
                        '<input  name="OrderItems[' + index + '].OrderItemId" type="hidden" value="-1">' +
                        '</td>' +
                        //PRODUCT CODE
                    '<td class="highlight">' +
                    '<input class="TableTextBox valid" name="OrderItems[' + index + '].ProductId" readonly="readOnly" type="text" value="'+obj.itemCode+'">' +
                    '</td>' +
                    //Product Name
                    '<td class="highlight">'+obj.itemName+'</td>' +

                    //Product Price
                      '<td class="highlight">' +
                    '<input class="TableTextBox valid" name="OrderItems[' + index + '].Product.SalePrice" id="OrderItems_' + index + '__Product_SalePrice" readonly="readOnly" type="text" value="' + obj.salePrice + '">' +
                    '</td>' +
                    //Quantity
                    '<td class="highlight">' +
                    '<input class="TableTextBox valid GridValueChange" name="OrderItems[' + index + '].Quantity"  id="OrderItems_' + index + '__Quantity"  type="text" value="' + obj.itemQty + '">' +
                    '</td>' +

                     //Sub Total
                     '<td class="highlight">' +
                    '<input class="TableTextBox valid"  readonly="readOnly" id="OrderItems_' + index + '__Subtotal" name="OrderItems[' + index + '].Subtotal"  type="text" value="' + obj.itemSubTotal + '">' +
                    '</td>' +
                      

                     //Discount Amount
                     '<td class="highlight">' +
                    '<input class="TableTextBox valid GridValueChange" id="OrderItems_' + index + '__Discount" name="OrderItems[' + index + '].Discount"  type="text" value="' + obj.itemDiscPrice + '">' +
                    '</td>' +
                    //Total
                       '<td class="highlight">' +
                    '<input class="TableTextBox valid" name="OrderItems[' + index + '].TotalItemAmount"  id="OrderItems_' + index + '__TotalItemAmount" readonly="readOnly" type="text" value="' + obj.itemTotalprice + '">' +
                    '</td>' +
                    
                    '<td>' +
                    '<a href="#" class="btn default btn-xs red deleteRow">' +
                    '<i class="fa fa-trash-o"  ></i> Delete </a> </td> ' +
                    '<input id="OrderItems_'+index+'__IsModified" name="OrderItems['+index+'].IsModified" type="hidden" value="False">' +
                        '</tr>';
                    $('#tblItemDetails').append(html);
                    $('#TotalCount').val(++index);
                    CalculateOrderTotals();
                    ResetItemDetail();
                }
            });
           
            function ValidateItemAdd(obj) {

                if (ValidateFieldsByClass('mandatoryItem')) {
                    obj.itemCode = $('#ItemCode').val();
                    obj.salePrice = $('#SalePrice').val();
                    obj.itemQty = $('#ItemQty').val();
                    obj.itemSubTotal = $('#TotalPrice').val();
                    obj.itemDiscPerc = $('#ItemDiscPerc').val();
                    obj.itemDiscPrice = $('#ItemDiscPrice').val();
                    obj.itemTotalprice = $('#GrandTotal').val();
                    obj.itemName = $('#ItemName').val();
                    
                    return true;
                }
                return false;


            }
     
            function ResetItemDetail() {
                //var div = $('#OrderItemAddInfo');
                $('#OrderItemAddInfo').find('input:text').val('0');
                $('#OrderItemAddInfo').find('label').val('');
                $('#ItemQty').val('1');
                $('#ItemCode').val('');

            }
            function LoadProductByProductCode(control) {
                var productCode = $("#" + control.id).val();
                $.blockUI({ message: '<h3><img src="../Images/loading.gif" height=55px; width=55px; /> Fetching Product...</h2>' });
                if (productCode != "" && productCode != "0") {
                    $.ajax({
                        url: "/Api/Product",
                        type: "GET",
                        data: { id: productCode },
                        dataType: "json",
                        success: ProductLoaded,
                        error: function (textStatus, errorThrown) {
                            $.unblockUI();
                            alert("Status: " + textStatus); alert("Error: " + errorThrown);
                        }
                    });
                }
            }

            function ProductLoaded(data) {
             
                $.unblockUI();
                if (data.ProductId <= 0) {
                    toastr.error("No Product found with given Code");
                } else {
                    toastr.success("Product found successfully");

                }
             
                $("#ItemName").val(data.Name);
                $("#SalePrice").val(data.SalePrice);
                $("#itemInStock").text((data.AvailableItems-1) +" Left");
                CalculateTotals();
            }
        
            function CalculateTotals() {
                
                var obj = new Object();
                obj.salePrice = $('#SalePrice').val();
                obj.itemQty = $('#ItemQty').val();
                obj.itemSubTotal = obj.salePrice * obj.itemQty;
                obj.itemDiscPrice = $('#ItemDiscPrice').val();
                obj.GrandTotal = obj.itemSubTotal - obj.itemDiscPrice;

                $('#GrandTotal').val(obj.GrandTotal);
                $('#TotalPrice').val(obj.itemSubTotal);
            }

            $('.calcPrice').change(function () {

                CalculateTotals();
            });


            //$('.GridValueChange').change(function (a, b) {
            $(document).on('change', '.GridValueChange', function (a, b) {
                debugger
                var counterID = $('#' + this.id).parent().parent().attr("data-id");
                var qty = $('#OrderItems_' + counterID + '__Quantity').val();
                
                var price = $('#OrderItems_' + counterID + '__Product_SalePrice').val();
                var discRS = $('#OrderItems_' + counterID + '__Discount').val();
                var subTotal = price * qty;

                var discPerc = (discRS * 100) / subTotal;

                //Checking max allowed... if any problem i will revert it to 0
                var maxAllowedDiscPerc = $('#AllowedMaxDiscount').val();
                if (parseInt(discPerc) > parseInt(maxAllowedDiscPerc)) {
                    $('#OrderItems_' + counterID + '__Discount').val(0);
                    toastr.error("ORDER EXCEEDING SALE DISCOUNT LIMIT");
                     discRS = $('#OrderItems_' + counterID + '__Discount').val();
                }

                $('#OrderItems_' + counterID + '__IsModified').val('True');
             
                $('#OrderItems_' + counterID + '__Subtotal').val(subTotal);
                var Total = subTotal - discRS;
                $('#OrderItems_' + counterID + '__TotalItemAmount').val(Total);



                CalculateOrderTotals();
                
                return false;

            });

            $('.calcDisc').change(function (a, b) {
                var obj = new Object();
                
                obj.salePrice = $('#SalePrice').val();
                obj.itemQty = $('#ItemQty').val();
                obj.itemSubTotal = obj.salePrice * obj.itemQty;
                obj.itemDiscPerc = $('#ItemDiscPerc').val();
                obj.itemDiscPrice = $('#ItemDiscPrice').val();

                

                if (this.id == "ItemDiscPerc") {
                    //Means perc changes
                    obj.itemDiscPrice = Math.ceil(obj.itemSubTotal * (obj.itemDiscPerc / 100));
                    $('#ItemDiscPrice').val(obj.itemDiscPrice);

                }
               else {
                    //Means Rs change
                    obj.itemDiscPerc = Math.round((obj.itemDiscPrice * 100) / obj.itemSubTotal, 1);
                    $('#ItemDiscPerc').val(obj.itemDiscPerc);
                }
                //CHECKING MAX ALLOWED
                var maxAllowedDiscPerc = $('#AllowedMaxDiscount').val();
                
                if ( parseInt(obj.itemDiscPerc) > parseInt(maxAllowedDiscPerc)) {
                    $('#ItemDiscPerc').val(0);
                    $('#ItemDiscPrice').val(0);
                    toastr.error("ORDER EXCEEDING SALE DISCOUNT LIMIT");
                }
                CalculateTotals();
            });


          function  CalculateOrderTotals()
          {
            
                var itemSubTotal = 0;
                var itemDisc = 0;
              var itemQtyTotal = 0;
              // var index = $("#tblItemDetails").children("tbody").children("tr").length; //Total for loop
              var index = $('#TotalCount').val();
                for (i = 0; i < index; i++) {
                    
                    itemSubTotal += parseInt($('#OrderItems_' + i + '__Subtotal').val()) || 0;
                    itemDisc += parseInt($('#OrderItems_' + i + '__Discount').val()) || 0;
                    itemQtyTotal += parseInt($('#OrderItems_' + i + '__Quantity').val()) || 0;
                }


                $('#OrderSubTotal').val(itemSubTotal);
                $('#OrderTotalDisc').val(itemDisc);
                $('#OrderNetTotal').val(itemSubTotal - itemDisc);
                $('#OrderItemsQty').val(itemQtyTotal);

            }
          function CalculateReturnAmount(agElement) {
              
              var AmountPaid = $('#' + agElement.id).val();
              var NetTotal = $('#OrderNetTotal').val();
              var toGive = AmountPaid - NetTotal;
              $('#OrderAmountReturn').val(toGive);
          }

          $(document).on('click', '.deleteRow', function (a, b) {
              //alert('123');
              $(this).parent().parent().remove();
              CalculateOrderTotals();
          });
           </script>
    </div>
}

