@model TMD.Models.DomainModels.ProductConfiguration
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 21;
    ViewBag.Title = "Add/update Customers";
}


@using (Html.BeginForm("Create", "Configuration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                <button type="submit" class="btn btn-circle blue" onclick="return(ValidateConfigFields(event));">Save</button>
                <a href="~/Configuration/Create">
                    <button type="button" class="btn btn-circle default">Cancel</button>
                </a>
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Update Configuration
            </div>
        </div>

        <div class="portlet-body form">
            <div class="container-fluid">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.RecCreatedBy)
                @Html.HiddenFor(m => m.RecCreatedDate)

                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label">Product Code Prefix</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.ProductCodePrefix, new { @class = "form-control input-circle", @id = "ProductCodePrefix" })
                    </div>
                </div>
                
                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label">Max Allowed Discount</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.MaxAllowedDiscount, new { @class = "form-control input-circle", @id = "MaxAllowedDiscount" })
                        @Html.ValidationMessageFor(m=>m.MaxAllowedDiscount)
                    </div>
                </div>
                
                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label">Emails <small>"," separated</small></label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Emails, new { @class = "form-control input-circle", @id = "Emails" })
                    </div>
                </div>
                
                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label">Security Password</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.SecurityPassword, new { @class = "form-control input-circle", @id = "SecurityPassword" })
                    </div>
                </div>
                
                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label">Comments</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Comments, new { @class = "form-control input-circle", @id = "Comments" })
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
     
    });
</script>